wheel
setuptools
absl-py
aiohttp
ardent
argon2-cffi
argon2-cffi-bindings
argschema
astunparse
async-timeout
attrs
backcall
beautifulsoup4
bleach
boto3
botocore
cached-property
cachetools
certifi
cffi
chardet==5.2.0
charset-normalizer==3.2.0
colorama
colorlog
colormap==1.0.4
colormath
cycler
debugpy
decorator
defusedxml
distro
easydev
EasySettings==4.0.1
entrypoints
et-xmlfile
fastjsonschema
flatbuffers
fonttools
future
gast
Glymur
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
hdmf
idna
imageio==2.31.2
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
libclang
lxml
Markdown
MarkupSafe
marshmallow
matplotlib-inline
memory-profiler
mistune
multidict
nbclient
nbconvert
nbformat
ndx-events
nest-asyncio
networkx
nibabel
nilearn
notebook
numexpr
numpy==1.24.3
oauthlib
opencv-python==4.8.0.76
openpyxl
openslide-python
opt-einsum
packaging
pandas==2.0.3
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pynrrd
pynwb
pyparsing
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyrsistent
python-dateutil
pytz
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
requests-toolbelt
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-build
scikit-image
scikit-learn
scipy
seaborn
semver
Send2Trash
SimpleITK
simplejson
six
slideio
soupsieve
SQLAlchemy
statsmodels
tables
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tifffile
tinycss2
torch
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
xarray
xlwt
yarl
zipp
chardet
charset-normalizer
colormap
EasySettings
imageio
numpy
opencv-python
pynrrd==1.0.0
scikit-image==0.21.0
slideio==2.2.0
typing_extensions
allensdk